In [2]:
import pandas as pd
import numpy as np

In [3]:
path='C:/Users/Administrator/Desktop/Data science/DATATHON/Datathon/data/data.csv'
data=pd.read_csv(path,delimiter=';',encoding='latin')

In [4]:
data.shape

(30091754, 16)

In [57]:
data5=data.head(5)
data5

,DATETIME,RAVEN_NAME,FAMILY_NAME,MEMBER_NAME,NETWORK,FIRST_GET_RESPONSE_SUCCESS_D,PAGE_BROWSING_DELAY,TCP_SETUP_TOTAL_DELAY,PAGE_CONTENT_DOWNLOAD_TOTAL_D,FIRST_DNS_RESPONSE_SUCCESS_D,DNS_RESPONSE_SUCCESS_DELAY,FIRST_TCP_RESPONSE_SUCCESS_D,PAGE_SR_DELAYS,SYN_SYN_DELAY,TCP_CONNECT_DELAY,PAGE_BROWSING_DELAYS
0,2018-07-06 10:15,Razzle Dazzle Rose raven Shadow,Targerian,Maester Aemon,2g,644,2832,2100,730,2,2,2100,2746,4,2100,0
1,2018-07-06 19:30,Tiny Insolent raven Lulu,Targerian,Maester Aemon,4g,258,51752,260,51334,0,0,260,676,8,260,0
2,2018-07-06 18:30,Blithe And Beautiful raven Mo,Targerian,Rheagar,3g,1094,19562,470,17130,4,4,470,3526,6,470,0
3,2018-07-06 00:45,Illuminating Emerald raven Daffy,Lannister,Kevan,2g,432,1488,558,638,272,272,558,1282,430,558,0
4,2018-07-06 12:00,Blithe And Beautiful raven Mo,Greyjoy,Theon,4g,1094,25132,576,13054,4,4,576,13172,462,576,0

In [18]:
print(data.columns)
print(num_type)

Index(['DATETIME', 'RAVEN_NAME', 'FAMILY_NAME', 'MEMBER_NAME', 'NETWORK',
       'FIRST_GET_RESPONSE_SUCCESS_D', 'PAGE_BROWSING_DELAY',
       'TCP_SETUP_TOTAL_DELAY', 'PAGE_CONTENT_DOWNLOAD_TOTAL_D',
       'FIRST_DNS_RESPONSE_SUCCESS_D', 'DNS_RESPONSE_SUCCESS_DELAY',
       'FIRST_TCP_RESPONSE_SUCCESS_D', 'PAGE_SR_DELAYS', 'SYN_SYN_DELAY',
       'TCP_CONNECT_DELAY', 'PAGE_BROWSING_DELAYS'],
      dtype='object')
['FIRST_GET_RESPONSE_SUCCESS_D', 'PAGE_BROWSING_DELAY', 'TCP_SETUP_TOTAL_DELAY', 'PAGE_CONTENT_DOWNLOAD_TOTAL_D', 'FIRST_DNS_RESPONSE_SUCCESS_D', 'DNS_RESPONSE_SUCCESS_DELAY', 'FIRST_TCP_RESPONSE_SUCCESS_D', 'PAGE_SR_DELAYS', 'SYN_SYN_DELAY', 'TCP_CONNECT_DELAY', 'PAGE_BROWSING_DELAYS']

In [ ]:
data1=data.query('FIRST_GET_RESPONSE_SUCCESS_D !=0 & PAGE_BROWSING_DELAY !=0 & TCP_SETUP_TOTAL_DELAY !=0 & PAGE_CONTENT_DOWNLOAD_TOTAL_D !=0 & FIRST_DNS_RESPONSE_SUCCESS_D !=0 & DNS_RESPONSE_SUCCESS_DELAY !=0 & FIRST_TCP_RESPONSE_SUCCESS_D !=0 & PAGE_SR_DELAYS !=0 & SYN_SYN_DELAY !=0 & TCP_CONNECT_DELAY !=0 & PAGE_BROWSING_DELAYS !=0').head(5)

In [ ]:
data1.groupby(FAMILY_NAME).count().sort_values(ascending=False)

In [12]:
data[["FAMILY_NAME","MEMBER_NAME"]]

         FAMILY_NAME           MEMBER_NAME
0          Targerian         Maester Aemon
1          Targerian         Maester Aemon
2          Targerian               Rheagar
3          Lannister                 Kevan
4            Greyjoy                 Theon
5            Greyjoy                 Aeron
6            Baelish         Petyr Baelish
7          Lannister                Cersei
8          Targerian         Maester Aemon
9            Greyjoy                 Balon
10           Baelish         Petyr Baelish
11           Baelish         Petyr Baelish
12         Lannister                Tyrion
13           Greyjoy                 Aeron
14         Targerian         Maester Aemon
15         Targerian              Deanerys
16           Baelish         Petyr Baelish
17         Lannister       Maester Pycelle
18         Lannister                 Kevan
19             Stark                Benjen
20             Stark                  Robb
21             Stark                  Arya
22             Stark                  Bran
23         Targerian  Aerys - The mad king
24         Targerian              Deanerys
25         Lannister                Lancel
26             Stark                  Robb
27         Targerian               Rheagar
28             Stark                  Arya
29         Targerian               Viserys
...              ...                   ...
30091724   Lannister                Cersei
30091725       Stark                  Arya
30091726   Targerian  Aerys - The mad king
30091727   Lannister                 Tywin
30091728       Stark         Maester Luwin
30091729   Targerian                 Aegon
30091730       Stark         Maester Luwin
30091731       Stark                  Robb
30091732     Baelish         Petyr Baelish
30091733   Lannister                Cersei
30091734     Greyjoy        Maester Kerwin
30091735       Stark                Eddard
30091736   Targerian         Maester Aemon
30091737       Stark                Eddard
30091738     Greyjoy                 Theon
30091739   Lannister       Maester Pycelle
30091740   Targerian         Maester Aemon
30091741       Stark         Maester Luwin
30091742       Stark                  Robb
30091743   Lannister                Joanna
30091744   Lannister                Cersei
30091745   Lannister                Tyrion
30091746   Targerian              Deanerys
30091747   Targerian              Deanerys
30091748       Stark         Maester Luwin
30091749   Lannister                 Kevan
30091750   Targerian         Maester Aemon
30091751       Stark                Eddard
30091752     Baelish         Petyr Baelish
30091753   Targerian              Deanerys

[30091754 rows x 2 columns]

In [36]:
data10.describe()

,FIRST_GET_RESPONSE_SUCCESS_D,PAGE_BROWSING_DELAY,TCP_SETUP_TOTAL_DELAY,PAGE_CONTENT_DOWNLOAD_TOTAL_D,FIRST_DNS_RESPONSE_SUCCESS_D,DNS_RESPONSE_SUCCESS_DELAY,FIRST_TCP_RESPONSE_SUCCESS_D,PAGE_SR_DELAYS,SYN_SYN_DELAY,TCP_CONNECT_DELAY,PAGE_BROWSING_DELAYS
count,5.00000,5.00000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.0
mean,704.40000,20153.20000,792.800000,16577.20000,56.400000,56.400000,792.800000,4280.400000,182.000000,792.800000,0.0
std,381.01811,20445.26711,741.448043,20772.25022,120.535472,120.535472,741.448043,5098.189757,241.267486,741.448043,0.0
min,258.00000,1488.00000,260.000000,638.00000,0.000000,0.000000,260.000000,676.000000,4.000000,260.000000,0.0
25%,432.00000,2832.00000,470.000000,730.00000,2.000000,2.000000,470.000000,1282.000000,6.000000,470.000000,0.0
50%,644.00000,19562.00000,558.000000,13054.00000,4.000000,4.000000,558.000000,2746.000000,8.000000,558.000000,0.0
75%,1094.00000,25132.00000,576.000000,17130.00000,4.000000,4.000000,576.000000,3526.000000,430.000000,576.000000,0.0
max,1094.00000,51752.00000,2100.000000,51334.00000,272.000000,272.000000,2100.000000,13172.000000,462.000000,2100.000000,0.0

In [30]:
dict(data.dtypes)

{'DATETIME': dtype('O'),
 'DNS_RESPONSE_SUCCESS_DELAY': dtype('int64'),
 'FAMILY_NAME': dtype('O'),
 'FIRST_DNS_RESPONSE_SUCCESS_D': dtype('int64'),
 'FIRST_GET_RESPONSE_SUCCESS_D': dtype('int64'),
 'FIRST_TCP_RESPONSE_SUCCESS_D': dtype('int64'),
 'MEMBER_NAME': dtype('O'),
 'NETWORK': dtype('O'),
 'PAGE_BROWSING_DELAY': dtype('int64'),
 'PAGE_BROWSING_DELAYS': dtype('int64'),
 'PAGE_CONTENT_DOWNLOAD_TOTAL_D': dtype('int64'),
 'PAGE_SR_DELAYS': dtype('int64'),
 'RAVEN_NAME': dtype('O'),
 'SYN_SYN_DELAY': dtype('int64'),
 'TCP_CONNECT_DELAY': dtype('int64'),
 'TCP_SETUP_TOTAL_DELAY': dtype('int64')}

In [ ]:
num_type=[key for key in dict(data.dtypes) if dict(data.dtypes)[key] in ['int64']]
print(num_type)
cat_type=[key for key in dict(data.dtypes) if dict(data.dtypes)[key] in ['O']]
print(cat_type)
num_data=data[num_type]
cat_data=data[cat_type]
num_data10=num_data.head(10)
cat_data10=cat_data.head(10)

['FIRST_GET_RESPONSE_SUCCESS_D', 'PAGE_BROWSING_DELAY', 'TCP_SETUP_TOTAL_DELAY', 'PAGE_CONTENT_DOWNLOAD_TOTAL_D', 'FIRST_DNS_RESPONSE_SUCCESS_D', 'DNS_RESPONSE_SUCCESS_DELAY', 'FIRST_TCP_RESPONSE_SUCCESS_D', 'PAGE_SR_DELAYS', 'SYN_SYN_DELAY', 'TCP_CONNECT_DELAY', 'PAGE_BROWSING_DELAYS']
['DATETIME', 'RAVEN_NAME', 'FAMILY_NAME', 'MEMBER_NAME', 'NETWORK']

In [49]:
num_data10.head()

,FIRST_GET_RESPONSE_SUCCESS_D,PAGE_BROWSING_DELAY,TCP_SETUP_TOTAL_DELAY,PAGE_CONTENT_DOWNLOAD_TOTAL_D,FIRST_DNS_RESPONSE_SUCCESS_D,DNS_RESPONSE_SUCCESS_DELAY,FIRST_TCP_RESPONSE_SUCCESS_D,PAGE_SR_DELAYS,SYN_SYN_DELAY,TCP_CONNECT_DELAY,PAGE_BROWSING_DELAYS
0,644,2832,2100,730,2,2,2100,2746,4,2100,0
1,258,51752,260,51334,0,0,260,676,8,260,0
2,1094,19562,470,17130,4,4,470,3526,6,470,0
3,432,1488,558,638,272,272,558,1282,430,558,0
4,1094,25132,576,13054,4,4,576,13172,462,576,0